div .close-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -3rem;
}

.head-modal {
    margin-right: 3rem;
}

.body-modal {
    position: relative;

    display: flex;
    flex-direction: row;
}

.schema-icon {
    margin-left: auto;

    --schema-icon-size: 6rem;

    height: var(--schema-icon-size);
    width: var(--schema-icon-size);
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);

    border-radius: 50%;

    background-size: cover;
    background-position: center;
}

.grid-col-2 {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    margin-right: 3rem;
}

.grid-col-2 h3 {
    margin: 0;
}

mat-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-column: 1 / span 2;
}

.col-2 {
    grid-column: 2;
    min-height: 1.2rem;
    max-width: 30rem;
}