.top-bar {
  text-align: center;
  /* font-family: "Lucida Console", "Courier New", monospace; */
  margin: 3em;
}

.logo1 {
  transform: scale(0.8);
}

.logo2 {
  transform: scale(0.7);
}

.pie-card,
.line-card {
  width: 10%;
  height: 250px;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}

.pie-card {
  margin-left: 50px;
  margin-right: 50px;
  width: 55%;
}

.graph {
  margin: auto;
  text-align: center;
}

button {
  display: inline-block;
  background-color: white;
  /* border-radius: 10px; */
  /* color: black; */
  text-align: center;
  font-size: 16px;
  padding: 7px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 15px;
  border: 1px solid #cbd7e0;
}

button:hover {
  background-color: #b4e5fc;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  justify-content: space-between;
}

.card {
  cursor: pointer;
}

.icon {
  color: 500;
  transform: scale(4);
}

.arrow {
  color: 500;
  transform: scale(3);
}

.space {
  margin: 50px;
}

.grid{
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr
  }
}
