<div class="top-bar">
  <div class="graph">
    <mat-card
      class="pie-card"
      routerLink="/DI-Overview"
      [ngStyle]="{ cursor: 'pointer' }"
    >
      <mat-icon
        [ngStyle]="{ color: '500', transform: 'scale(3)', margin: '50px' }"
        >group</mat-icon
      >
      <h4>Digital <br/> Identities</h4>
      <mat-icon [ngStyle]="{ color: '500', transform: 'scale(3)' }"
        >arrow_forward</mat-icon
      >
    </mat-card>

    <mat-card
      class="pie-card"
      routerLink="/schema-overview"
      [ngStyle]="{ cursor: 'pointer' }"
    >
      <mat-icon
        [ngStyle]="{ color: '500', transform: 'scale(3)', margin: '50px' }"
        >security</mat-icon
      >
      <h4>Schemas <br /> &nbsp;</h4>
      <mat-icon [ngStyle]="{ color: '500', transform: 'scale(3)' }"
        >arrow_forward</mat-icon
      >
    </mat-card>

    <mat-card
      class="pie-card"
      routerLink="/credDef-overview"
      [ngStyle]="{ cursor: 'pointer' }"
    >
      <mat-icon
        [ngStyle]="{ color: '500', transform: 'scale(3)', margin: '50px' }"
        >card_membership</mat-icon
      >
      <h4>Credentials <br /> &nbsp;</h4>
      <mat-icon [ngStyle]="{ color: '500', transform: 'scale(3)' }"
        >arrow_forward</mat-icon
      >
    </mat-card>

    <mat-card
      class="pie-card"
      routerLink="/proofTemplate-overview"
      [ngStyle]="{ cursor: 'pointer' }"
    >
      <mat-icon
        [ngStyle]="{ color: '500', transform: 'scale(3)', margin: '50px' }"
        >library_books</mat-icon
      >
      <h4>Proofs <br /> &nbsp;</h4>
      <mat-icon [ngStyle]="{ color: '500', transform: 'scale(3)' }"
        >arrow_forward</mat-icon
      >
    </mat-card>
  </div>
</div>
