<div class="top-bar">
  <div class="graph" class="grid">
    <mat-card
      class="pie-card"
      routerLink="/DI-Overview"
      [ngStyle]="{ cursor: 'pointer' }"
    >
      <div class="space"></div>
      <mat-icon class="icon" color="primary"
        >group</mat-icon
      >
      <div class="space"></div>
      <h4>
        Digital <br />
        Identities
      </h4>
      <mat-icon class="arrow" color="primary"
        >arrow_forward</mat-icon
      >
    </mat-card>

    <mat-card
      class="pie-card"
      routerLink="/schema-overview"
      [ngStyle]="{ cursor: 'pointer' }"
    >
      <div class="space"></div>
      <mat-icon class="icon" color="primary"
        >security</mat-icon
      >
      <div class="space"></div>
      <h4>
        Schemas <br />
        &nbsp;
      </h4>
      <mat-icon class="arrow" color="primary"
        >arrow_forward</mat-icon
      >
    </mat-card>

    <mat-card
      class="pie-card"
      routerLink="/credDef-overview"
      [ngStyle]="{ cursor: 'pointer' }"
    >
      <div class="space"></div>
      <mat-icon class="icon" color="primary"
        >card_membership</mat-icon
      >
      <div class="space"></div>
      <h4>
        Credentials <br />
        &nbsp;
      </h4>
      <mat-icon class="arrow" color="primary"
        >arrow_forward</mat-icon
      >
    </mat-card>

    <mat-card
      class="pie-card"
      routerLink="/proofTemplate-overview"
      [ngStyle]="{ cursor: 'pointer' }"
    >
      <div class="space"></div>
      <mat-icon class="icon" color="primary"
        >library_books</mat-icon
      >
      <div class="space"></div>
      <h4>
        Proofs <br />
        &nbsp;
      </h4>
      <mat-icon class="arrow" color="primary"
        >arrow_forward</mat-icon
      >
    </mat-card>
  </div>
</div>
