span button:active {
  background-color: #525252;
  color: #fafafa;
}

span button.selected {
  background-color: black;
  color: white;
}

span button.selected:hover {
  background-color: #505050;
  color: white;
}

span button.selected:active {
  background-color: black;
  color: white;
}
