<mat-menu #childMenu="matMenu" [overlapTrigger]="false" >
  <span *ngFor="let child of items; let j = index" class="nav-bar-children">
    <span
      *ngIf="child.children && child.children.length > 0"
      (mouseup)="handleMouseEvent($event, child);"
    >
      <button [matMenuTriggerFor]="menu.childMenu" mat-menu-item>
        <span>{{ child.displayName }}</span>
      </button>
      <app-menu-item #menu [items]="child.children"></app-menu-item>
    </span>

    <span *ngIf="!child.children || child.children.length === 0">
      <button
        mat-menu-item
        [routerLink]="child.route"
        (mouseup)="handleMouseEvent($event, child); "
        [class.selected]="child === subMenu"
      >
        <span>{{ child.displayName }}</span>
      </button>
    </span>
  </span>
</mat-menu>
