<mat-card class="register-card">
  <mat-card-header>
    <mat-card-title class="register-card-title">
      Please create a new digital identity:
    </mat-card-title>
  </mat-card-header>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card-content class="register-card-content">
    <form
      class="register-form"
      action="/register"
      method="GET"
      [formGroup]="formGroup"
      (ngSubmit)="registerButtonEvent()"
    >
      <ng-container *ngFor="let pi of personal_information">
        <ng-container [ngSwitch]="pi.key">
          <!-- Options Block for user role -->
          <!-- <mat-form-field *ngSwitchCase="'user_role'">
            <mat-label>{{pi.label}}</mat-label>
            <mat-select formControlName="{{pi.key}}"> -->
          <!-- formControlName defines the form Control entry where the value is saved -->
          <!-- <mat-option *ngFor="let opt of pi.options" [value]="opt.value">
                {{opt.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <ng-container *ngSwitchCase="'hr_employee'">
            <mat-checkbox
              color="primary"
              id="{{ 'input-' + pi.key }}"
              formControlName="{{ pi.key }}"
              >HR Employee</mat-checkbox
            >
          </ng-container>

          <!-- default block -->
          <mat-form-field *ngSwitchDefault>
            <mat-label>{{ pi.label }}</mat-label>
            <input
              id="{{ 'input-' + pi.key }}"
              matInput
              type="text"
              placeholder="{{ pi.placeholder }}"
              formControlName="{{ pi.key }}"
            />
            <!-- formControlName defines the form control entry where the value is saved -->
          </mat-form-field>
        </ng-container>
      </ng-container>

      <button
        mat-raised-button
        [disabled]="!formGroup.valid || requestInProgress"
        color="accent"
      >
        Register
      </button>
    </form>
  </mat-card-content>
</mat-card>
