<ng-container [ngSwitch]="status">
  <mat-icon
    *ngSwitchCase="'CREDENTIAL_OFFER_SENT'"
    [ngStyle]="{ color: 'orange', opacity: '1' }"
    >mark_email_read</mat-icon
  >
  <mat-icon
    *ngSwitchCase="'CREDENTIAL_ISSUED'"
    [ngStyle]="{ color: 'green', opacity: '0.7' }"
  >
    credit_score</mat-icon
  >
  <mat-icon
    *ngSwitchCase="'CREDENTIAL_REMOVED'"
    [ngStyle]="{ color: 'red', opacity: '0.7' }"
    >unsubscribe</mat-icon
  >

  <div *ngSwitchCase="'CREDENTIAL_REVOKED'">
    <mat-icon [ngStyle]="{ color: 'red', opacity: '0.7' }">unsubscribe</mat-icon>
  </div>
  <!-- <mat-icon *ngSwitchCase="'CREDENTIAL_REVOKED'"></mat-icon> -->
  <!-- <mat-icon *ngSwitchCase="'PRESENTATION_RECEIVED'"></mat-icon> -->
  <!-- <mat-icon *ngSwitchCase="'PROOF_RECORD_REMOVED'"></mat-icon> -->
  <!-- <mat-icon *ngSwitchCase="'REQUEST_SENT'"></mat-icon> -->
  <!-- <mat-icon *ngSwitchCase="'VERIFIED'"></mat-icon> -->

  <div *ngSwitchDefault>default</div>
</ng-container>
