<mat-grid-list cols="3" rowHeight="3:1" xmlns="http://www.w3.org/1999/html">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile
    ><img src="../../assets/images/DIdentity.png" alt="DIdentity" class="logo1"
  /></mat-grid-tile>
  <mat-grid-tile
    ><img src="../../assets/images/adorsys.png" alt="adorsys" class="logo2"
  /></mat-grid-tile>
</mat-grid-list>
<div>
  <!--
  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link [routerLink]="links[0]" (click)="activeLink = links[0]" [active]="activeLink == links[0]"> {{titles[0]}} </a>
    <a [matMenuTriggerFor]="menu1" mat-tab-link (click)="activeLink = links[1]" [active]="activeLink == links[1]"> {{titles[1]}} </a>
    <mat-menu #menu1="matMenu">
      <a mat-tab-link mat-menu-item routerLink="/DI-Overview"> {{titles[3]}}</a>
      <a mat-tab-link mat-menu-item routerLink="/create-new-DI"> {{titles[4]}} </a>
    </mat-menu>
    <a [matMenuTriggerFor]="menu2" mat-tab-link (click)="activeLink = links[2]" [active]="activeLink == links[2]"> {{titles[2]}} </a>
    <mat-menu #menu2="matMenu">
      <a mat-tab-link mat-menu-item routerLink="/schema-overview"> Overview of schemas</a>
      <a mat-menu-item mat-tab-link routerLink="/create-schema"> Create new schema </a>
    </mat-menu>



    <a mat-tab-link *ngFor="let link of links; index as i"
       [routerLink]="link"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{titles[i]}} </a>

  </nav>
</div>
-->

  <div mat-tab-nav-bar mat-align-tabs="center" class="items">
    <span *ngFor="let item of menuItems; let i = index">
      <span *ngIf="item.children && item.children.length > 0">
        <button
          class="navbutton"
          mat-button
          [matMenuTriggerFor]="menu.childMenu"
          [class.selected]="item === selectedMenuItem"
          type="button"
          (click)="onSelect(item)"
          [routerLinkActive]="['active']"
        >
          {{ item.displayName }}
          <mat-icon>expand_more</mat-icon>
        </button>
        <app-menu-item #menu [items]="item.children"></app-menu-item>
      </span>

      <span *ngIf="!item.children || item.children.length === 0">
        <button
          mat-button
          [routerLink]="item.route"
          [class.selected]="item === selectedMenuItem"
          type="button"
          (click)="onSelect(item)"
          [routerLinkActive]="['active']"
        >
          {{ item.displayName }}
        </button>
      </span>
    </span>
  </div>
  <div>
    <button mat-button color="primary" (click)="logout()">Logout</button>
  </div>
</div>
