[mat-dialog-content] {
  padding-top: 0.5rem;
}

mat-panel-title app-credential-status {
  padding-right: 2rem;
}

mat-expansion-panel-header {
  display: grid;
  grid-template-columns: 15fr 1fr;
}

.mat-expansion-panel-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.revoked-unsupported {
  padding-left: 1rem;
}

mat-accordion > *:first {
  padding-bottom: 1rem;
}

mat-progress-spinner {
  margin-inline: auto;
}

#missing-data {
  text-align: center;
}
