.login-card {
  width: clamp(15rem, 1rem + 40vw, 25rem);
  min-width: 290px;
}

.login-form {
  padding-top: 0.7rem;
  display: flex;
  flex-direction: column;
}

#login-button {
  margin-top: 1rem;
}

#forgot-password-button {
  font-size: 0.95rem;
  margin-top: 0.5rem;
}

.logos {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: top;
}

.adorsys_login {
  margin-bottom: 9%;
  width:30%;
}

.didentity_login {
  margin-top: 2%;
  min-width: 290px;
  width: 70%;
}


