<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="login-card-title"> Please sign in </mat-card-title>
  </mat-card-header>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card-content class="login-card-content">
    <form
      class="login-form"
      action="/register"
      method="GET"
      [formGroup]="formGroup"
      (ngSubmit)="loginProcess()"
    >
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          type="text"
          placeholder="john.doe@example.org"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <mat-icon
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </mat-icon>
      </mat-form-field>
      <a href="password/change"> Change password?</a>
    </form>
    <div id="button-container">
      <button mat-button (click)="openForgotPassword()"> Forgot password?</button>
      <button [disabled]="!formGroup.valid" (click)="loginProcess()" mat-raised-button color="primary">
        Log in
      </button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="test-card" *ngIf="inDevelopment()">
  <mat-card-header>
    <mat-card-title class="test-card-title"> For Testing </mat-card-title>
  </mat-card-header>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card-content style="display: flex; flex-direction: column">
    <mat-label>Mail: {{ this.formGroup.value.email }}</mat-label>
    <mat-label>password: {{ this.formGroup.value.password }}</mat-label>
  </mat-card-content>
</mat-card>
