<mat-card class="create-credDef-card">
  <mat-card-header>
    <mat-card-title class="credDef-card-title">
      Create a new Credential Definition
    </mat-card-title>
  </mat-card-header>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card-content class="create-credDef-card-content">
    <form class="credDef-form" [formGroup]="credDefFormGroup">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Please enter a Credential Definition name"
          formControlName="name"
          ngDefaultControl
          name="name"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Comment</mat-label>
        <input
          matInput
          type="text"
          placeholder="Please enter a comment (optional)"
          ngDefaultControl
          formControlName="comment"
          name="comment"
        />
      </mat-form-field>

      <mat-checkbox
        class="revocable-tickbox"
        color="primary"
        ngDefaultControl
        name="revocable"
        [checked]="credDefFormGroup.value['revocable']"
        (change)="
          credDefFormGroup.controls['revocable'].setValue(
            !credDefFormGroup.value['revocable']
          )
        "
      >
        Revocable
      </mat-checkbox>

      <div>
        <div
          [innerHtml]="error"
          *ngIf="error"
          style="color: red; text-align: center"
        ></div>

        <p>
          <input
            id="fileInput"
            type="file"
            hidden
            (change)="selectFile($event)"
            #inputFile
            disabled
          />
          <button
            (click)="inputFile.click()"
            mat-raised-button
            disabled
            color="primary"
          >
            Select image
          </button>
          <span [innerHtml]="fileName" *ngIf="fileName"></span>
          <mat-icon [ngStyle]="{ color: 'orange', opacity: '1' }"
            >warning</mat-icon
          >
          <span class="aligned-with-icon">Not supported yet.</span>
        </p>
      </div>

      <p>
        <mat-form-field>
          <mat-select
            ngDefaultControl
            name="schemaId"
            [formControl]="schemaCtrl"
            placeholder="Schema selection"
            (selectionChange)="onSelected($event)"
            #singleSelect
          >
            <mat-option>
              <ngx-mat-select-search
                [formControl]="schemaFilterCtrl"
              ></ngx-mat-select-search>
            </mat-option>

            <mat-option
              *ngFor="let schema of filteredSchemas | async"
              [value]="schema.id"
            >
              {{ schema.alias }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <button
        mat-raised-button
        [disabled]="!credDefFormGroup.valid || clicked || selectedSchema == ''"
        (click)="createCredDef()"
        color="accent"
        class="button-table"
      >
        Create Credential Definition <mat-icon>arrow_forward</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>
