.create-credDef-card {
  width: clamp(15rem, 1rem + 40vw, 25rem);
}

.create-credDef-card-content mat-form-field {
  width: 90%;
}

.credDef-form {
  display: flex;
  flex-direction: column;
}

.revocable-tickbox {
  padding-bottom: 0.5rem;
}

#revocable-container {
  margin-bottom: 1rem;
}