<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="login-card-title">
      Please sign in
    </mat-card-title>
  </mat-card-header>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card-content class="login-card-content">
    <form class="login-form" action="/register" method="GET">
      <mat-form-field>
        <input matInput placeholder="email address">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="password">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="login-card-actions">
    <button mat-raised-button color="primary">Log in</button>
  </mat-card-actions>
</mat-card>