<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="login-card-title">
      Please sign in
    </mat-card-title>
  </mat-card-header>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card-content class="login-card-content">
    <form class="login-form" action="/register" method="GET" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput type="text" placeholder="john.doe@example.org" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="loginProcess()">Log in</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="login-card-title">
      For Testing
    </mat-card-title>
  </mat-card-header>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card-content style="display: flex; flex-direction: column;">
    <mat-label>Mail: {{email}}</mat-label>
    <mat-label>password: {{password}}</mat-label>
  </mat-card-content>
</mat-card>