.create-schema-card {
    width: clamp(15rem, 1rem + 40vw, 20rem);

    margin: 5rem auto;
}

.create-schema-form{
    display: flex;
    flex-direction: column;
}

.create-schema-card-content mat-form-field {
    width: 90%;
    display: flex;
    flex-direction: row;
}
