<!-- <mat-stepper> -->
<button mat-raised-button color="primary" (click)="this.toggle = !this.toggle">
  toggle
</button>
<mat-card>
  <mat-card-title>Create A New Proof Template</mat-card-title>
  <mat-stepper linear #stepper>
    <!-- Step 1 -->
    <mat-step [completed]="step1.completed()" [editable]="true">
      <ng-template matStepLabel>Step 1</ng-template>
      <app-create-proof-template-step1 #step1></app-create-proof-template-step1>
      <div class="actions">
        <!-- prettier-ignore -->
        <button mat-raised-button color="primary" matStepperNext [disabled]="!step1.completed()" >Next</button>
      </div>
    </mat-step>

    <!-- Step 2 -->
    <mat-step [completed]="this.step2_completed()" [editable]="true">
      <div class="actions">
        <button mat-button matStepperPrevious>Back</button>
        <!-- prettier-ignore -->
        <button mat-raised-button color="primary" matStepperNext [disabled]="!this.step2_completed()" >Next</button>
      </div>
      <ng-template matStepLabel>Step 2</ng-template>
      <app-create-proof-template-step2 #step2></app-create-proof-template-step2>
      <div class="actions">
        <button mat-button matStepperPrevious>Back</button>
        <!-- prettier-ignore -->
        <button mat-raised-button color="primary" matStepperNext [disabled]="!this.step2_completed()" >Next</button>
      </div>
    </mat-step>

    <!-- Step 3 -->
    <mat-step [completed]="this.step3_completed()" [editable]="true">
      <ng-template matStepLabel>Step 3</ng-template>
      <app-create-proof-template-step3
        [selectedCredDefs]="this.selectedCredDefs()"
        #step3
      ></app-create-proof-template-step3>
      <div class="actions">
        <button mat-button matStepperPrevious>Back</button>
        <!-- prettier-ignore -->
        <button mat-raised-button color="primary" matStepperNext [disabled]="!this.step3_completed()" >Next</button>
      </div>
    </mat-step>

    <!-- Step 3b -->
    <mat-step
      [completed]="true"
      [editable]="true"
      *ngIf="this.autoIssueCredential()"
    >
      <!-- *ngIf="this.autoIssueCredential()" -->
      <ng-template matStepLabel>Step 4</ng-template>
      <app-create-proof-template-step3b></app-create-proof-template-step3b>
      <div class="actions">
        <button mat-button matStepperPrevious>Back</button>
        <!-- prettier-ignore -->
        <button mat-raised-button color="primary" matStepperNext [disabled]="!step3.completed()" >Next</button>
      </div>
    </mat-step>

    <!-- Step Finished -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="stepper.reset()">
          Reset
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>
