<h1>Send credential</h1>
<h3>Send credential <strong> {{alias}} </strong> for connection</h3>

<mat-card>
  <mat-card-content>
    <form
      class="credential-form"
    >
      <mat-form-field>
        <mat-select [formControl]="DICtrl" (selectionChange)="getSelectedDI($event)" placeholder="Connections" #singleSelect>
          <mat-option *ngFor="let DI of DIData" [value]="DI.id">
            {{DI.myLabel}}
          </mat-option>
        </mat-select>
      </mat-form-field>

        <div>
          Selected connections: {{DICtrl.value?.name}}
        </div>

        <div *ngFor="let attributeInput of attributesData">
          <label [for]="attributeInput.key" *ngIf="selectedId!=''">{{attributeInput.key}}</label>
          <input *ngIf="selectedId!=''" [value]="attributeInput.value" style="width: 300px;">
        </div>


      <button [disabled]="selectedId==''" mat-raised-button color="primary">
        Send
      </button>

      <button mat-raised-button (click)="cancelButtonEvent()">
        Cancel
      </button>

    </form>
  </mat-card-content>
</mat-card>

