<h1>Overview of digital identities</h1>


<div class="Schema-Overview-table">

  <mat-table class="Schema-table mat-elevation-z8" [dataSource]="SchemaData" id="SchemaTable">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let schema">{{schema.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef>Version</mat-header-cell>
      <mat-cell *matCellDef="let schema">{{schema.version}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let schema">{{schema.status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="show details">
      <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
      <mat-cell *matCellDef="let schema">
        <!-- <button mat-raised-button (click)="openShowSchemaDialog(schema); this.initTable();"> Show Details </button> -->
        <button mat-raised-button (click)="openShowSchemaDialog(schema); this.initTable();">Show Details</button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

</div>


