<mat-card class="create-schema-card">
  <mat-card-header>
    <mat-card-title> Create a new Schema </mat-card-title>
  </mat-card-header>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card-content class="create-schema-card-content">
    <form class="create-schema-form" [formGroup]="schemaFormGroup">
      <!-- <mat-card-subtitle
        >Schema information for schema
        {{ schemaFormGroup.value["name"] }}</mat-card-subtitle
      > -->
      <mat-form-field>
        <mat-label>Name:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Type in Name of schema"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Version:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Type in Version of schema"
          formControlName="version"
        />
      </mat-form-field>

      <!-- <mat-form-field>
        <mat-label>With Type:</mat-label>
        <mat-select formControlName="nextType">
          <mat-option *ngFor="let opt of types" [value]="opt">
            {{ opt }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </form>
    <form
      [formGroup]="schemaFormGroup"
      (keydown.enter)="$event.preventDefault()"
    >
      <!-- <mat-card-subtitle
        >Attributes of Schema: -->
      <!-- {{ schemaFormGroup.value["name"] }} -->
      <!-- </mat-card-subtitle> -->
      <mat-card-subtitle>List of attributes:</mat-card-subtitle>

      <div formArrayName="attributes">
        <ng-container *ngFor="let elem of attributes.controls; let i = index">
          <div class="grid">
            <mat-form-field>
              <div [formGroupName]="i">
                <!-- <mat-label>{{ i }}:{{ schemaTmp.attributes[i].type }}</mat-label> -->
                <!-- <mat-label>{{ "Attribute " + i }}</mat-label> -->
                <input
                  matInput
                  type="text"
                  id="{{ 'name' + i }}"
                  placeholder="{{ 'Enter Name for Attribute ' + i }}"
                  formControlName="name"
                />
              </div>
            </mat-form-field>
            <!-- <mat-form-field [formGroupName]="i">
            <mat-label>With Type:</mat-label>
            <mat-select
              formControlName="attributeType"
              id="{{ 'attributeType' + i }}"
              (selectionChange)="switchAttributeValue(i)"
            >
              <mat-option *ngFor="let opt of types" [value]="opt">
                {{ opt }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
            <button
              mat-icon-button
              color="primary"
              (click)="deleteAttribute(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
      <button mat-raised-button (click)="addAttribute()" color="primary">
        <mat-icon>add</mat-icon> Add Attribute
      </button>
    </form>
  </mat-card-content>

  <div *ngIf="schemaFormGroup.invalid">
    Form fields are not filled or filled with invalid arguments.
  </div>
  <div *ngIf="attributesEmpty()">
    No attributes belong to the schema. You have to create at least one
    attribute.
  </div>

  <button
    mat-raised-button
    [disabled]="schemaFormGroup.invalid || attributesEmpty()"
    (click)="createSchemaButtonEvent()"
    color="accent"
    class="create-schema-button"
  >
    Create Schema <mat-icon>arrow_forward</mat-icon>
  </button>
</mat-card>
