<mat-card [ngSwitch]="getStatus()">
  <!-- 400 -->
  <div class="error-block400" *ngSwitchCase="400">
    <h1>{{ getStatus() }}</h1>
    <h2>Bad Request.</h2>
    <h3>
      The server cannot or will not process the request due to an apparent
      client error (e.g., malformed request syntax, size too large, invalid
      request message framing, or deceptive request routing).
    </h3>
  </div>

  <!-- 401 -->
  <div class="error-block401" *ngSwitchCase="401">
    <h1>{{ getStatus() }}</h1>
    <h2>Unauthorized.</h2>
    <h3>
      User did not provide valid authentication credentials for the target
      resource.
    </h3>
  </div>

  <!-- 403 -->
  <div class="error-block403" *ngSwitchCase="403">
    <h1>{{ getStatus() }}</h1>
    <h2>Forbidden.</h2>
    <h3>
      The request contained valid data and was understood by the server, but the
      server is refusing action. This may be due to the user not having the
      necessary permissions for a resource or needing an account of some sort,
      or attempting a prohibited action
    </h3>
  </div>


  <!-- 404 -->
  <div class="error-block404" *ngSwitchDefault>
    <h1>404</h1>
    <h2>Page not Found.</h2>
    <h3>
      The requested resource could not be found.
    </h3>
  </div>

  <!-- 408 -->
  <div class="error-block408" *ngSwitchCase="408">
    <h1>{{ getStatus() }}</h1>
    <h2>Request Timeout.</h2>
    <h3>
      The server timed out waiting for the request.
    </h3>
  </div>


  <!-- 418 -->
  <div class="error-block418" *ngSwitchCase="418">
    <h1>{{ getStatus() }}</h1>
    <h2>I am a teapot.</h2>
    <div id="teapot">
      {{ teapot() }}
    </div>
  </div>

  <!-- 500 -->
  <div class="error-block500" *ngSwitchCase="500">
    <h1>{{ getStatus() }}</h1>
    <h2>Internal Server Error.</h2>
    <h3>
      A generic error message, given when an unexpected condition was
      encountered and no more specific message is suitable.
    </h3>
  </div>

  <!-- 503 -->
  <div class="error-block503" *ngSwitchCase="503">
    <h1>{{ getStatus() }}</h1>
    <h2>Service Unavailable.</h2>
    <h3>
      The server cannot handle the request (because it is overloaded or down for
      maintenance). Generally, this is a temporary state.
    </h3>
  </div>


</mat-card>



