.button-row button,
.button-row a {
  margin-right: 8%;
  margin-left: 8%;
}

#filtered-Table th,
#filtered-Table td {
  align-items: center;
  padding: 16px;
}

.mat-header-cell {
  font-size: large;
  font-weight: bold;
}

.queue-element-detail {
  overflow: hidden;
  display: flex;
}

.queue-detail-row {
  height:flex;
  min-height: 0px;
}
