<div class="filtered-table"></div>
<div class="filter-selection">
  <div class="filter-col-selection">
    <mat-icon>filter_alt</mat-icon>
    <mat-form-field [formGroup]="selectedCol" appearance="standard">
      <mat-select formControlName="col">
        <mat-option
          *ngFor="let opt of internalColSelectNames; let i = index"
          [value]="opt"
        >
          {{ displayedColSelectNames[i] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter-input">
    <mat-icon> search </mat-icon>
    <mat-form-field [formGroup]="filterInput">
      <mat-label></mat-label>
      <input
        formControlName="input"
        matInput
        (keyup)="applyFilterEvent($event, selectedCol.value['col'])"
        (keyup.enter)="addFilterEvent($event, selectedCol.value['col'])"
        placeholder="Search columns"
        #input
      />
    </mat-form-field>
  </div>
</div>
current Filters:
<ng-container *ngFor="let filter of appliedFilters" class="filter-applied">
  {{ filter.column }}: "{{ filter.filter }}"
  <button mat-button (click)="removeFilter(filter.idx)">X</button>
</ng-container>
<br />
<br />
<!-- <div class="table-responsive"> -->
<mat-table
  class="filtered-table mat-elevation-z8"
  [dataSource]="filteredTableSource"
  id="filtered-Table"
  multiTemplateDataRows
>
  <ng-container
    *ngFor="let col of internalColNames; let i = index"
    matColumnDef="{{ displayedColNames[i] }}"
  >
    <div
      *ngIf="
        col != 'button' &&
        col != 'active' &&
        col != 'checkbox' &&
        col != 'expandable' &&
        col != 'delete'
      "
    >
      <mat-header-cell *matHeaderCellDef>
        <div class="contains-data">
          {{ displayedColNames[i] }}
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let data">
        <div class="contains-data">
          <p *ngIf="data[col] == null">-</p>

          <p
            *ngIf="data[col] != null"
            class="contains-data"
            matTooltip="{{ data[col] }}"
          >
            {{ data[col] }}
          </p>
        </div>
      </mat-cell>
    </div>
    <div *ngIf="col == 'checkbox'">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          color="primary"
          (change)="
            $event ? masterToggle() : null;
            selectionChangedAllRows();
            onSelectionChange()
          "
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let data">
        <mat-checkbox
          color="primary"
          (click)="$event.stopPropagation()"
          (change)="
            $event ? selection.toggle(row) : null;
            selectionChangedRow(data);
            onSelectionChange()
          "
          [checked]="selection.isSelected(row)"
        ></mat-checkbox>
      </mat-cell>
    </div>
    <div *ngIf="col == 'active'">
      <mat-header-cell *matHeaderCellDef>{{
        displayedColNames[i]
      }}</mat-header-cell>
      <mat-cell *matCellDef="let data">
        <p *ngIf="data[col]">active</p>
        <p *ngIf="!data[col]">inactive</p>
      </mat-cell>
    </div>
    <div *ngIf="col == 'button'">
      <!-- normal buttons -->
      <ng-container>
        <mat-header-cell
          *matHeaderCellDef
          class="{{ 'header-' + getButtonColName(i) }}"
        ></mat-header-cell>
        <mat-cell
          *matCellDef="let row = dataIndex"
          class="{{ 'cell-' + getButtonColName(i) }}"
        >
          <div [ngSwitch]="displayedColNames[i]">
            <div *ngSwitchCase="'Edit'">
              <button mat-icon-button (mousedown)="this.buttonEvent(row, i)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div *ngSwitchCase="'Delete'">
              <!-- <app-delete-icon-clickable
                [id]="this.tableData[row].id"
                [deleteRequest]="this.deleteRequest"
              ></app-delete-icon-clickable> -->
              <button mat-icon-button (mousedown)="openDeleteDialog(row)">
                <mat-icon [attr.aria-label]="'Delete item'"> delete </mat-icon>
              </button>
            </div>
            <div *ngSwitchCase="'Expand'">
              <button mat-icon-button (mousedown)="this.buttonEvent(row, i)">
                <mat-icon>contacts</mat-icon>
              </button>
            </div>
            <div *ngSwitchCase="'Show details'">
              <button mat-icon-button (mousedown)="this.buttonEvent(row, i)">
                <mat-icon>info</mat-icon>
              </button>
            </div>
            <div *ngSwitchDefault>
              <button
                mat-raised-button
                (mousedown)="this.buttonEvent(row, i)"
                class="table-button"
                color="primary"
              >
                {{ displayedColNames[i] }}
              </button>
            </div>
          </div>
        </mat-cell>
      </ng-container>
    </div>
    <div *ngIf="col == 'expandable'">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>

      <mat-cell *matCellDef="let element; let data">
        <button
          mat-raised-button
          (click)="element.isExpanded = !element.isExpanded"
          class="table-button"
          color="primary"
        >
          expand
        </button>
      </mat-cell>
    </div>
  </ng-container>
  <div *ngIf="showExpandedDetails">
    <ng-container matColumnDef="expandedDetail">
      <mat-cell
        *matCellDef="let element; let row = dataIndex; let data"
        [attr.colspan]="displayedColNames.length"
        [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'"
      >
        <div
          class="queue-element-detail"
          *ngIf="{ oldRow: data.table_idx } as variable"
        >
          <div>
            <p>Attributes of '{{ tableData[variable.oldRow].alias }}':</p>
            <section class="example-section">
              <!-- [formGroup]="getFormGroup(row)"> -->

              <ng-container
                *ngFor="let attr of expandedDetails[variable.oldRow].attributes"
              >
                <div
                  style="text-indent: 10px"
                  [formGroup]="getInnerFormGroup(variable.oldRow, attr)"
                >
                  <ng-container>
                    <mat-label>{{ attr }}</mat-label>
                    <mat-checkbox
                      color="primary"
                      formControlName="selected"
                      (change)="onSelectionChange()"
                    >
                    </mat-checkbox>
                  </ng-container>
                  &nbsp;&nbsp;&nbsp;
                  <mat-form-field>
                    <mat-label>With Type:</mat-label>
                    <mat-select
                      formControlName="filter"
                      (selectionChange)="onSelectionChange()"
                    >
                      <mat-option
                        *ngFor="let opt of filterParams"
                        [value]="opt"
                      >
                        {{ opt }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  &nbsp;&nbsp;&nbsp;
                  <mat-form-field>
                    <mat-label>Value:</mat-label>
                    <input
                      matInput
                      formControlName="value"
                      type="number"
                      min="0"
                      (change)="onSelectionChange()"
                    />
                  </mat-form-field>
                </div>
              </ng-container>
            </section>
          </div>
        </div>
      </mat-cell>
    </ng-container>
  </div>

  <mat-row mat-header-row *matHeaderRowDef="displayedColNames"></mat-row>
  <mat-row
    *matRowDef="let row; columns: displayedColNames"
    class="queue-element-row"
    [class.queue-expanded-row]="row.isExpanded"
  ></mat-row>
  <div *ngIf="showExpandedDetails">
    <mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="queue-detail-row"
    ></mat-row>
  </div>
</mat-table>
<!-- </div> -->
