<div class="filtered-table"></div>
<br />
current Filters:
<br />
<ng-container *ngFor="let filter of appliedFilters">
  {{ filter.column }}: "{{ filter.filter }}"
  <button mat-button (click)="removeFilter(filter.idx)">X</button>
</ng-container>
<br />
<mat-form-field [formGroup]="selectedCol" appearance="standard">
  <mat-select formControlName="col">
    <mat-option
      *ngFor="let opt of internalColSelectNames; let i = index"
      [value]="opt"
    >
      {{ displayedColSelectNames[i] }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div [formGroup]="filterInput">
  <mat-label>Search</mat-label>
  <input
    formControlName="input"
    matInput
    (keyup)="applyFilterEvent($event, selectedCol.value['col'])"
    (keyup.enter)="addFilterEvent($event, selectedCol.value['col'])"
    placeholder="Search columns"
    #input
  />
</div>
<br />
<mat-table
  class="filtered-table mat-elevation-z8"
  [dataSource]="filteredTableSource"
  id="filtered-Table"
  multiTemplateDataRows
>

  <ng-container *ngFor="let col of internalColNames;let i=index;"  matColumnDef={{displayedColNames[i]}}>
    <div *ngIf="(col!='button')&&(col!='active')&&(col!='checkbox')&&(col!='expandable')&& (col != 'delete')">
    <mat-header-cell *matHeaderCellDef>{{displayedColNames[i]}}</mat-header-cell>
    <mat-cell *matCellDef="let data">
      <p *ngIf="data[col]==null">-</p>
      <p *ngIf="data[col]!=null">{{ data[col] }}</p>
      </mat-cell>
    </div>
    <div *ngIf="(col=='checkbox')">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null; selectionChangedAllRows(); onSelectionChange(); "
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row;">
        <mat-checkbox (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null; selectionChangedRow(row); onSelectionChange(); "
        [checked]="selection.isSelected(row)"></mat-checkbox>
      </mat-cell>
    </div>
    <div *ngIf="(col=='active')">
      <mat-header-cell *matHeaderCellDef>{{displayedColNames[i]}}</mat-header-cell>
      <mat-cell *matCellDef="let data">
        <p *ngIf="data[col]">active</p>
        <p *ngIf="!data[col]">inactive</p>
      </mat-cell>
    </div>
    <div *ngIf="col == 'button'">
      <!-- normal buttons -->
      <div *ngIf="displayedColNames[i] != 'Delete'">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row = dataIndex">
          <button mat-raised-button (click)="this.buttonEvent(row, i)">
            {{ displayedColNames[i] }}
          </button>
        </mat-cell>
      </div>

      <!-- normal buttons -->
      <div *ngIf="displayedColNames[i] == 'Delete'">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row = dataIndex">
          <!-- <app-delete-icon-clickable
            [id]="this.tableData[row].id"
            [deleteRequest]="this.deleteRequest"
          ></app-delete-icon-clickable> -->
          <button mat-icon-button (mousedown)="openDeleteDialog(row)">
            <mat-icon [attr.aria-label]="'Delete item'"> delete </mat-icon>
          </button>
        </mat-cell>
      </div>
    </div>
    <div *ngIf="col=='expandable'">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
       <button mat-button (click)="element.isExpanded = !element.isExpanded">expand</button>
      </mat-cell>
    </div>
  </ng-container>
  <div *ngIf="showExpandedDetails">
  <ng-container matColumnDef="expandedDetail">
    <mat-cell *matCellDef="let element; let row = dataIndex" [attr.colspan]="displayedColNames.length" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
      <div class="queue-element-detail">
        <div>
          <p>Attributes of '{{tableData[row].alias}}': </p>
          <section class="example-section" [formGroup]="getFormGroup(row)">
            <div *ngFor="let control of expandedDetails[row].attributes">
              <p style="text-indent:10px;"><mat-checkbox (change)="onSelectionChange();" formControlName="{{control}}" [disabled]="isRowDisabled(row)">{{control}}</mat-checkbox></p>
              <!-- <mat-form-field [formGroup]="i"> -->
                <mat-label>With Type:</mat-label>
                <!-- <mat-select
                  formControlName="attributeType"
                  id="{{ 'attributeType' + i }}"
                  (selectionChange)="switchAttributeValue(i)"
                > -->
                  <mat-option *ngFor="let opt of filterParams" [value]="opt">
                    {{ opt }}
                  </mat-option>
                <!-- </mat-select> -->
              <!-- </mat-form-field> -->
            </div>
          </section>
        </div>
      </div>
    </mat-cell>
</ng-container>
</div>



  <mat-row mat-header-row *matHeaderRowDef="displayedColNames"></mat-row>
  <mat-row *matRowDef="let row; columns: displayedColNames" class="queue-element-row" [class.queue-expanded-row]="row.isExpanded"></mat-row>
  <div *ngIf="showExpandedDetails"><mat-row *matRowDef="let row; columns: ['expandedDetail']" class="queue-detail-row"></mat-row></div>
</mat-table>
