.change-password-card {
  width: clamp(15rem, 1rem + 40vw, 20rem);
  min-width: 290px;
}

.change-password-form {
  padding-top: 0.7rem;
  display: flex;
  flex-direction: column;
}

.logos {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: top;
}

.adorsys_login {
  margin-bottom: 9%;
  width: 30%;
}

.didentity_login {
  margin-top: 2%;
  min-width: 290px;
  width: 70%;
}
