<div class="top-bar">
  <!--<img [src]="logo1" [alt]="logo1">
  <div class=".container">
    <div class="e1"></div>
    <div class="e2">
      <img src="../../assets/images/DIdentity.png" alt="DIdentity" class="logo1">
    </div>
    <div class="e3">
      <img src="../../assets/images/adorsys.png" alt="adorsys" class="logo2">
    </div>
  </div>
  -->

  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/images/DIdentity.png" alt="DIdentity" class="logo1"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/images/adorsys.png" alt="adorsys" class="logo2"></mat-grid-tile>
  </mat-grid-list>

  <div class="links">
    <button mat-button><a class="nav-item nav-link" routerLink="/">Home</a></button>

    <button mat-button type="button" (click)="clicked('register')" routerLink="/register">
      Create new Digital Identity
    </button>

    <button mat-button type="button" (click)="clicked('DI-Overview')" routerLink="/DI-Overview">
      Overview of Digital Identities
    </button>

    <button mat-button type="button" (click)="clicked('settings')" routerLink="/settings" >
      Admin Settings
    </button>

    <button mat-button type="button"  (click)="clicked('login')" routerLink="/login">
      Login
    </button>

  </div>
  <mat-divider></mat-divider>
</div>



<div class="graph">
  <mat-card class="pie-card">
    <h2>Status of Digital Identities</h2>

    <mat-card-content>
      <p><span></span>Digital Identity Initialized</p>
      <p><span></span>Active Digital Identity</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="line-card">
    <h2>Active Digital Identities</h2>

    <mat-card-content>

      <p><span></span>Employees</p>
      <p><span></span>Guest</p>
    </mat-card-content>
  </mat-card>
</div>


