.login-card,
.test-card {
  width: clamp(15rem, 1rem + 40vw, 30rem);

  margin: 5rem auto;
}

.creDef-form {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 14px;
  margin-left: 18px;
  min-width: 120px;
}

.tickbox {
  margin-bottom: 8px;
}
