<h1>Send credential</h1>
<h3>
  Send credential <strong> {{ alias }} </strong> for connection
</h3>

<mat-card>
  <mat-card-content>
    <form class="credential-form" [formGroup]="attributeFormGroup">
      <mat-form-field style="width: 100%">
        <mat-select
          [formControl]="DICtrl"
          (selectionChange)="getSelectedDI($event)"
          placeholder="Connections"
          #singleSelect
        >
          <div *ngFor="let DI of DIData">
            <mat-option [value]="DI.connectionId" *ngIf="this.isActive(DI)">
              {{ DI.alias }}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <div
        *ngIf="selectedId != ''"
        style="display: flex; flex-direction: column"
      >
        <mat-form-field *ngFor="let attributeInput of attributesData">
          <mat-label for="attributeInput.name" *ngIf="selectedId != ''">{{
            attributeInput.name
          }}</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="attributeInput.value"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
      </div>

      <button mat-raised-button (click)="cancelButtonEvent()">Cancel</button>
      <button
        [disabled]="selectedId == ''"
        mat-raised-button
        color="primary"
        (click)="save()"
      >
        Send
      </button>
    </form>
  </mat-card-content>
</mat-card>
