<h1>Send proof</h1>
<h3>
  Send proof <strong> {{ alias }} </strong> to connection
</h3>

<mat-card>
  <mat-card-content>
    <form class="credential-form" [formGroup]="attributeFormGroup">
      <mat-form-field style="width: 100%">
        <mat-select
          [formControl]="DICtrl"
          (selectionChange)="getSelectedDI($event)"
          placeholder="Connections"
          #singleSelect
        >
          <div *ngFor="let DI of DIData">
            <mat-option [value]="DI.connectionId" *ngIf="this.isActive(DI)">
              {{ DI.alias }}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <div
        *ngIf="selectedId != ''"
        style="display: flex; flex-direction: column"
      >
        <mat-form-field *ngFor="let attributeInput of attributesData">
          <mat-label for="attributeInput.name" *ngIf="selectedId != ''">{{
            attributeInput.name
          }}</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="attributeInput.value"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<button mat-raised-button (click)="cancelButtonEvent()" color="primary">
  Cancel
</button>

<button
  mat-raised-button
  class="send-button"
  [disabled]="selectedId == ''"
  color="accent"
  (click)="save()"
>
  Send Proof <mat-icon>send</mat-icon>
</button>
