<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="credential-card-title">
      Create new Credential Definition.
    </mat-card-title>
  </mat-card-header>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card-content class="login-card-content">
    <form
      class="credential-form"
      [formGroup]="credentialFormGroup"
    >
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Please enter a credential name"
          formControlName="name"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Comment</mat-label>
        <input
          matInput
          type="text"
          placeholder="Please enter a comment (optional)"
          formControlName="comment"
        />
      </mat-form-field>

      <mat-checkbox class="tickbox"
                    color="primary"
                    [checked]="credentialFormGroup.value['revocable']"
                    (change)="credentialFormGroup.controls['revocable'].setValue(!credentialFormGroup.value['revocable'])">
        Revocable
      </mat-checkbox>

      {{credentialFormGroup.value['revocable']}}

      <div>
        <div [innerHtml]='error' *ngIf="error" style="color: red; text-align:center;"></div>
        <p>

          <input
            type="file"
            hidden
            (change)="selectFile($event)"
            #inputFile/>

          <button (click)="inputFile.click()" mat-raised-button >Select icon</button>
          <span [innerHtml]='fileName' *ngIf="fileName"></span>

        </p>
      </div>

      <p>
        <mat-form-field>
          <mat-select
            [formControl]="schemaCtrl"
            placeholder="Schema selection"
            #singleSelect>

            <mat-option>
              <ngx-mat-select-search
                [formControl]="schemaFilterCtrl"
              ></ngx-mat-select-search>
            </mat-option>

            <mat-option
              *ngFor="let schema of filteredSchemas | async"
              [value]="schema"
            >
              {{schema.alias}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <div class="button-table">
        <button
          [disabled]="!credentialFormGroup.valid"
          (click)="createCredential()"
          mat-raised-button color="primary"
        >
          Create
        </button>

        <button mat-raised-button>
          Cancel
        </button>
      </div>
    </form>

  </mat-card-content>
</mat-card>
