<div>
  <mat-card-title>Selected credential definitions:</mat-card-title>
  <h3 *ngIf="this.credDefSelections.length == 0">
    No credential definitions selected.
  </h3>
  <div *ngIf="this.credDefSelections.length != 0">
    <mat-expansion-panel
      *ngFor="let credDef of this.credDefSelections; let i = index"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> {{ credDef.alias }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <app-attribute-list-item
          *ngFor="let key_value of this.keyValueArrayOf(i)"
          [name]="key_value[0]"
          [params]="key_value[1]"
        ></app-attribute-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>
</div>
<div *ngIf="!dataLoaded">Loading</div>
<div *ngIf="dataLoaded">
  <app-filtered-table
    (selectionChanged)="
      this.credDefSelections = $event.dataSelection;
      this.additionalData = $event.additionalData;
      this.tableValid = $event.valid;
      this.selectionChanged()
    "
    [data]="this.credDefData"
    [internalColSelectNames]="this.selectableCols"
    [displayedColSelectNames]="this.displayedColSelectNames"
    [displayedColNames]="this.displayedColumnNames"
    [internalColNames]="this.internalColumnNames"
    [showExpandedDetails]="true"
    [expandedDetails]="this.schemaDataAttributes"
    [filterParams]="this.filterParams"
  >
  </app-filtered-table>
</div>
