.container{
        min-width: 600px;
        min-height: 300px;
}

div .close-button{
    display: flex;
    justify-content: flex-end;
}

div .head-modal{
    display: flex;
    justify-content: center;
    text-align: center;
}

div .head-modal h2{
    font-size: 1.8em !important;
}

div .body-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

div .body-modal .fail, div .body-modal .check{
    transform: scale(2.5);
    margin-top: 30px;
}

