<div class="container">
  <div class="close-button">
    <button mat-icon-button (click)="close()">
      <mat-icon class="close">close</mat-icon>
    </button>
  </div>

  <div class="head-modal">
    <h2 mat-header>{{ header }}</h2>
  </div>

  <div class="body-modal">
    <pre mat-content>{{ text }}</pre>
    <p>
      <button mat-icon-button (click)="close()">
        <mat-icon class="check" *ngIf="isSuccessData">check_circle</mat-icon>
        <mat-icon class="fail" *ngIf="!isSuccessData">cancel</mat-icon>
      </button>
    </p>
  </div>
</div>
