#forgot-password {
    width: clamp(15rem, 10rem + 25vw, 25rem);
}

#forgot-password .register-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forgot-password form {
    width: min(80%, 15rem);
}

#forgot-password mat-form-field {
    width: 100%;
}

#forgot-password button {
    margin: 0rem 1rem;
}