#forgot-password {
  width: clamp(15rem, 10rem + 25vw, 25rem);
}

.headers {
  padding-bottom: 0.7rem;
}

#forgot-password .forgot-password-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#forgot-password form {
  width: min(80%, 15rem);
}

#forgot-password mat-form-field {
  width: 100%;
}

#reset-password-button {
  width: 100%;
  margin-top: 0.9rem;
}

.cancel-button-container {
  margin-top: 0.5rem;
}
