<div id="forgot-password">
  <div class="headers">
    <h1 class="edit-card-title">Forgot Password?</h1>
    <h3>
      Enter your email address to reset your password. You will receive an
      e-mail containing your new password.
    </h3>
  </div>

  <div class="forgot-password-card-content">
    <form (ngSubmit)="submitEvent()" [formGroup]="formGroup">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          type="text"
          placeholder="john.doe@example.org"
          formControlName="email"
        />
      </mat-form-field>
    </form>
  </div>
  <div class="cancel-button-container">
    <button mat-raised-button (click)="cancelButtonEvent()" color="primary">
      Cancel
    </button>
  </div>
  <button
    mat-raised-button
    color="accent"
    [disabled]="!formGroup.valid || disabled"
    (click)="submitEvent()"
    id="reset-password-button"
  >
    Reset Password <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
