<!-- <mat-card id="forgot-password-card">
  <mat-card-header>
    <mat-card-title class="edit-card-title"> Forgot Password? </mat-card-title>
    <mat-card-subtitle>
      Enter your email to reset your password. You will recive a mail containing
      your new password.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="register-card-content">
    <form (ngSubmit)="submitEvent()" [formGroup]="formGroup">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          type="text"
          placeholder="john.doe@example.org"
          formControlName="email"
        />
      </mat-form-field>
    </form>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="submitEvent()">
        Submit
      </button>
      <button mat-raised-button (click)="cancelButtonEvent()">Cancel</button>
    </div>
  </mat-card-content>
</mat-card> -->
<div id="forgot-password">
  <div class="headers">
    <h2 class="edit-card-title">Forgot Password?</h2>
    <h3>
      Enter your email to reset your password. You will recive a mail containing
      your new password.
    </h3>
  </div>

  <div class="register-card-content">
    <form (ngSubmit)="submitEvent()" [formGroup]="formGroup">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          type="text"
          placeholder="john.doe@example.org"
          formControlName="email"
        />
      </mat-form-field>
    </form>
    <div class="button-container">
      <button mat-button (click)="cancelButtonEvent()">Cancel</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!formGroup.valid"
        (click)="submitEvent()"
      >
        Submit
      </button>
    </div>
  </div>
</div>
