<div class="filtered-table"></div>
<br>
current Filters:
<br>
<ng-container *ngFor="let filter of appliedFilters">
  {{filter.column}}: "{{filter.filter}}"
  <button mat-button (click)="removeFilter(filter.idx)">X</button>
</ng-container>
<br>
<mat-form-field [formGroup]="selectedCol" appearance="standard">
  <mat-select formControlName="col">
    <mat-option *ngFor="let opt of selectableCols" [value]="opt">
      {{ opt }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div [formGroup]="filterInput">
  <mat-label>Search</mat-label>
  <input formControlName="input"
    matInput
    (keyup)="applyFilter($event, selectedCol.value['col'])"
    (keyup.enter)="addFilter($event, selectedCol.value['col'])"
    placeholder="Search columns"
    #input
  />
</div>
<br />
<mat-table
  class="filtered-table mat-elevation-z8"
  [dataSource]="filteredTableSource"
  id="filtered-Table"
>

  <ng-container *ngFor="let col of displayedCols" matColumnDef={{col}}>
    <div *ngIf="!(col=='show details')">
    <mat-header-cell *matHeaderCellDef>{{col}}</mat-header-cell>
    <mat-cell *matCellDef="let data">{{ data[col] }}</mat-cell>
    </div>
    <div *ngIf="col=='show details'">
        <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
        <mat-cell *matCellDef="let row = index">
          <button
            mat-raised-button
            (click)="this.buttonEvent(row)"
          >
            {{col}}
          </button>
        </mat-cell>
    </div>
  </ng-container>



  <mat-header-row *matHeaderRowDef="displayedCols"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedCols"></mat-row>
</mat-table>
